PORT = 4000


TOKEN_KEY = "<Cu;Vy{:m^qQGvV%m<HA]R{3@skcZ8*5^P&)MgLJ/E#r6W_yntC~TXeNz.>D$
t;kJW6dTjyh3_<m9)%,A$DC~P@YeL5*8}M#/4nRvfp>{xZwB?zsK8B,5H?A@p;=}Sd3c/YPb6j>GLg-t+$[&4:9n^M]2uJX_R<NUQ6{T)*4fuWBpte9v@%d!b+Z.g?YmK^w5CJsG#j_y>EXr<~z3x/
Xw%Z8<5ncskK#!3J(uAE=:]CH;BR-SYr?,U4~M/9fW{e}^p&mDu#~c_nPs>tZKW[h?&!=$;-T9Y%:bGa63e5N{,yJ}f27.kzAgrFH@/M{]2f)Q^[kqVS7!ct-FzBW;}e,j*=:J~D<nL&6y#P_pg>UhecS(~CpK7hE:k6g]2wa-rXFRwbAQrUFz6ys[8}5Vke9m<PY,W&XL72Hv_d;c%!)/*uN=(GT~.fYMW^Jq4KpB@6cN}A;7rS/Hb,yQk%t)z&=(>[dU$hZu3F?m9RTLXz2.eg<Cu;Vy{:m^q*?x5(=Lkdw/@NAH_9[}SB$)4WRUhf#>Mtf)tTSNCz!pZP79j^HXyL5r{w/xq;k8}J]D:&~n%W(R.Yv4uUmsT.5/e6]9;W)d=MZU[nzaK$N^L-*HfjFh3VuD2<CJ_cb,q{#&7PG<Q/V3J($,+&AYy4RU@2u.*cP;>)-TC=:Xapzq{!t6Lb9vH_5Bcn{hL}E8u<x#k2ApV=wUD!T@Fb7f]dzrP(4:_,/yW.9XQ+3ZsKRFW&.8NyQnUvAeH$qc<ZmB:pD#7b6~4g_2zwsE%=)uMjrLa}@-
bU>Xa*ycmpNj:ZG9A]n;MPzY4KSVB2}kRW,7e<T_#wu[gs!Qt.
nA_EeGMy@{W=D4g^7#d>m/}[2v6kJB!%Xz)9Fasj5:,*Y&Shu8s,4QA%+27:uD@n}!9>)8ax3mwcBS?b.(H5~f_#yJtkdTW6[YGqLn!2y]GEY%[@Rf)&~t6r-hu$8FZB+/Wm=>Q}U93(HP,pg.4xX5t:)VFRjeJb;p7d=W{xZEa$_zwDG4#Q6~>Tu?rfKc[v&LAm5H,MbsQ72;>^R3YTm#!6H+{U5*X-&}~xd%$Se4W</ngDjtkuwv(cqCQ:d~YcqySb}W=G$^-X4Pa9LE6e72H%R3Auz/+BkNrm_pZ]UKg(
GV4BJtWyUMgPx]D>nF+}AHL5,$pR({kS9Cb<?%)aum&;#dY_3Nr?W%]SMKm<7QCj/H^PNVA.{eTyn(R9b[t=3B#~p,};$)84FZX&
N,{C!c(%QJMXR?Y*[>k)57Hu<jP/^Ls+tbS&:g~wdF2#;Kfn.ZXUy][>j85pAx<4DR2V/b6^m7$Qq)&k,WHgLGeSa+*=#wc3_f-TNR9#]%U,3(?7-46He^X>:ndr=yc2tMKk!jT<Y_*+/BJb.a5ugmP+>T<Y?#W9zL;d{8$tH_DAv^bZr.%xuA-zPs~fnme?;Fa:h^H9JGWK8T$2{6/C}<N4k&c_tBqXyQQ8f[<^R.tykwTM&FN93}2D5L,{7-@$CH/cXdgaZS#6_P4j*b+Kb>FyD]BzLsc@kgaK?Q8Vr*~%U2Y3!u9ES}N,w;fHX.=)&TCJ6[
tX8[CQU#z-%@f,r<yk]$x&^edZE3ND2=}BFc{;(_q7GA5h!LmTtFasJEj^S=A[6%42UhMxTGe-g3$8Hn~:!cPVmqQ]Y{uL7y/b;9sKZekqd?:v{WPbBgx4j+%S-_nuA)/~,DYa2f$U;J.&(3<^}TNcM&R$nq;7wK*hHWmDpVkxt@5r/b<8_G!#.F>J}AzY2jcy3g-X9:<T<Y?#W9zCu;Vy{:m^uA-zq"