
# ---- NODE MODULES ----

/node_modules

# ----------------------



# -----  .ENV  ---------

#config/.env
#config/config.json

# ----------------------



# -----  IMAGE  ---------

/images/posts/*.jpg
/images/posts/*.jpeg
/images/posts/*.png
/images/posts/*.gif

/images/users/*.jpg
/images/users/*.jpeg
/images/users/*.png
/images/users/*.gif

/images/comments/*.jpg
/images/comments/*.jpeg
/images/comments/*.png
/images/comments/*.gif

# ----------------------



# ---- WORK  SPACE  ----

../GroupomaniaP7.code-workspace

# ----------------------

