.post-container {
  margin: 0 auto 0;
  padding: 16px 40px;
  border-radius: 5px;
  position: relative;
  background: $skyblue;
  border: 2px solid white;

  i {
    font-size: 1.5rem;
    margin: 20px 0;
    color: $skyblue;
  }

  .data {
    position: absolute;
    right: 42px;
    text-align: right;

    @media screen and(max-width: 420px) {
      right: 10px;
    }
    @media screen and(max-width: 380px) {
      display: none;
    }

    span {
      font-weight: bold;
    }
  }

  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
    img {
      border-radius: 5px;
      border: 1px solid white;
      height: 60px;
      width: 60px;
      box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.16);
      object-fit: cover;
    }
    .postNow {
      width: 35px;
      height: 35px;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0);
      box-shadow: 2px 2px 2px rgba(51, 51, 51, 0);
      filter: drop-shadow(0 0 0.05rem rgba(0, 0, 0, 0.459));
      &:hover {
        transition: 0.1s all ease-in-out;
        transform: scale(1.05);
        filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.459));
      }
    }
    h3 {
      color: $black;
    }
  }
  .post-form {
    position: relative;
    margin: 0 auto 0;

    text-align: right;

    label {
      background: white;
      color: black;
      padding: 5px;
      border-radius: 5px 5px 0px 0px;
      margin: 5rem 0;
    }

    input {
      height: 30px;
      width: 100%;
      font-size: 1.4rem;
      padding: 12px 15px;
      border-radius: 5px;
      margin-bottom: 1rem;

      font-size: 0.8rem;

      &::placeholder {
        font-size: 0.7rem;
      }
    }

    textarea {
      height: 62px;
      width: 100%;
      font-size: 1.4rem;
      padding: 12px 15px;
      border-radius: 5px;
      font-size: 0.8rem;

      &::placeholder {
        font-size: 0.7rem;
      }
    }
    .card-container {
      background: $white;
      border-radius: 20px 20px 6px 20px;

      .card-left {
        text-align: left;
        img {
          @media screen and(max-width: 590px) {
            margin-left: 0;
          }
        }
      }
      .card-right {
        @media screen and(max-width: 590px) {
          margin-left: 0;
        }
        .card-header {
          @media screen and(max-width: 632px) {
            flex-direction: column;
          }
          @media screen and(max-width: 590px) {
            margin: 0;
          }
          .pseudo {
            @media screen and(max-width: 440px) {
              transform: translateY(-8px);
            }
          }
          span {
            @media screen and(max-width: 632px) {
              position: absolute;
              top: 40px;
            }
            @media screen and(max-width: 590px) {
              left: 68px;
            }
            @media screen and(max-width: 440px) {
              left: 14px;
              top: 60px;
            }
          }
        }
        .content {
          padding: 6px 0;
          p {
            text-align: left;
            margin: 2px 0 6px;
            font-size: 1.1rem;
          }
          img {
            width: 100%;
            border-radius: 6px;
            margin-top: 12px;
          }
          @media screen and(max-width: 632px) {
            margin-top: 20px;
          }
        }
      }
    }
  }
  .footer-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;

    .icon {
      position: relative;
      cursor: pointer;
      width: 30px;
      height: 20px;

      & label {
        position: absolute;
        left: 30px;
        top: 10px;
        width: 60px;
        height: 25px;
        color: black;
        background: white;
        border-radius: 5px;
        padding: 0px;
      }

      img {
        position: absolute;
        top: 5px;
        height: 24px;
        width: 26px;
        transform: translate(-18px, 5px);
        filter: drop-shadow(0px 0px 0.1rem rgba(0, 0, 0, 0.432));
        transition: 0.15s all ease-in-out;
        &:hover {
          transition: 0.1s all ease-in-out;
          filter: drop-shadow(0px 0px 0.1rem rgba(0, 0, 0, 0.8));
        }
      }

      button {
        width: 190px;
        padding: 10px 20px;
        background: $white;
        transition: 0.2s;

        &:hover {
          background: $color-3;
        }
      }

      input {
        width: 25px;
        height: 25px;
        position: absolute;
        transform: translate(-17px, 9px);
        opacity: 0;
        cursor: pointer;

        &::-webkit-file-upload-button {
          cursor: pointer;
        }
      }
      p {
        font-family: $font-3;
        margin-top: 4px;
        color: red;
      }
      .btn-send {
        .cancel {
          border-radius: 20px;
          margin-right: 8px;
          background: $white;

          &:hover {
            color: $color-4;
            background: $color-3;
          }
        }
        .send {
          &:hover {
            letter-spacing: 2px;
          }
        }
        button {
          @media screen and(max-width: 460px) {
            font-size: 0.8rem;
            padding: 8px;
          }
        }
      }
    }
  }
}
